

.courseMainWrap
{
    background-color:purple;
    height:500px;
    float:left;
    width:100%;
}

.titleSection{
    text-align: center;
    color:white;
    font-size:30px;
}

.courseImg
{
    height:200px !important;
    width:200px !important;
}