
/*********** bg-colors ********/

$primanyBg:blueviolet;
$SecondaryBg:red;

/********** colors ********/ 
$primaryColor:white;
$secondaryColor:green;

/********** font-familly ********/ 
$primaryFont:'lato';
$secondaryFont:'italic'

/*******************************/