.mainHeader{
    width:100%;
    float:left;
    /* background-color:green; */
    border-bottom: 2px solid purple;
}

.logoSection{
    width:30%;
    float:left;
    /* background-color:red; */
}

.navSection{
  width:70%;
  float:left;
  /* background-color:brown; */
}

.logoImage{
    height:70px;
    width:130px;
    margin:auto;
    display: block;
    
}
.navbar{
    list-style-type: none;
}

.navbar li a{
    text-decoration:none;
    float:left;
    padding:10px;
    /* background-color:purple; */
    color:purple;
    font-weight: 700;
    
}